body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.search {
	margin-top: 12px;
	border-radius: 5px;
}

.title {
	    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    color: #210002;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Verlag A', 'Verlag B', "Verlag";
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 300;
    font: inherit;
}
 
