@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/style.css" />


<div class="keyart" id="parallax">
    <div class="keyart_layer parallax" id="keyart-0" data-speed="2"></div>		<!-- 00.0 -->
    <div class="keyart_layer parallax" id="keyart-1" data-speed="5"></div>	<!-- 12.5 -->
    <div class="keyart_layer parallax" id="keyart-3" data-speed="16"></div>	<!-- 37.5 -->
    <div class="keyart_layer parallax" id="keyart-4" data-speed="26"></div>		<!-- 50.0 -->
    <div class="keyart_layer parallax" id="keyart-5" data-speed="36"></div>	<!-- 62.5 -->
    <div class="keyart_layer parallax" id="keyart-6" data-speed="49"></div>		<!-- 75.0 -->
    <div class="keyart_layer" id="keyart-scrim"></div>
    <div class="keyart_layer parallax" id="keyart-7" data-speed="69"></div>		<!-- 87.5 -->
    <div class="keyart_layer" id="keyart-8" data-speed="100"></div>		<!-- 100. -->
</div>

<div style="background-color: #210002; position: relative;z-index: 98;margin-top: -20px;">

    <div style="max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    position: relative;
    background-color: #210002;
    height: 250px;">


       

       
        <div class="section description">
            <h1 style="text-align: center; color:#ffaf1b; font-family: fantasy "> Travel the world!</h1>
            <br />
            <div class="columntext">
                <p class="left" style="text-align: center; color: #ffaf1b; ">
                    <br>One of the great rites of passage is the summer backpacking trip through world. For young people, 
                    he summer trip is one of the most memorable experiences people
                    have in their life. From beautiful Paris, to smoke filled coffeeshops in Amsterdam, to Oktoberfest, 
                    to the beaches of Greece, there’s so much to see on the continent I couldn’t name it all even if I tried. 
                    <br /><br>
                    Every country is incredibly different than the next, so enjoy your online travel!
                </p>
            </div>
        </div>

    </div>
</div>



<script src="~/js/index.js"></script>